<template>
    <div>
        Under the Constrution, Thank for Waiting !!!
        <h style="color:red"><router-link to="/"> Clcik Here Back !!!</router-link></h>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style>
a {
    color: Red;
    text-decoration: none;
    background-color: transparent;
}  

</style>